Repository USTC-KnowledgeComputingLab/MMDocParser: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, docker

woodpecker:
  image: woodpeckerci/woodpecker-cli:v${CI_SYSTEM_VERSION}-alpine
  environment:
    WOODPECKER_PLUGINS_PRIVILEGED: woodpeckerci/plugin-docker-buildx:5
  commands:
  - woodpecker-cli lint

docker:
  image: woodpeckerci/plugin-docker-buildx:5
  settings:
    repo: git.kclab.cloud/sci-agent/${CI_REPO_NAME}
    platforms: linux/amd64,linux/arm64
    env_file: envvars
    build_args_from_env:
    - PYPI_MIRROR
    dry-run: true
    output: type=image
  depends_on:
  - create-venv

fix: add parrllel operation
  parsers/docx_parser.py
  parsers/excel_parser.py
  parsers/pdf_parser.py
  tests/test_async_parsers.py
  tests/test_docx_parser.py
  tests/test_pdf_parser.py
  tests/test_pdf_parser_advanced.py
Due: none

feat: add pdf parser
  .env.template
  .gitignore
  mineru.json
  parsers/base_models.py
  parsers/docx_parser.py
  parsers/excel_parser.py
  parsers/pdf_parser.py
  pyproject.toml
  tests/test_docx_parser.py
  tests/test_excel_parser.py
  tests/test_pdf_parser.py
  tests/test_pdf_parser_advanced.py
  uv.lock
Due: docker

fix: comfort mypy
  parsers/base_models.py
  parsers/docx_parser.py
  parsers/excel_parser.py
  parsers/pdf_parser.py
Due: none

feat: add enhancer registry
  enhancers/__init__.py
  enhancers/base_models.py
  enhancers/enhancer_registry.py
  enhancers/information_enhancer.py
  parsers/__init__.py
  worker.py
Due: none

fix: ban cover enhancer
  enhancers/enhancer_registry.py
Due: none

fix:comfort mypy
  enhancers/enhancer_registry.py
Due: none

feat: add basic enhancer
  .env.template
  config.py
  enhancers/base_models.py
  enhancers/enhancer_registry.py
  pyproject.toml
  uv.lock
Due: docker

fix: confort mypy
  parsers/__init__.py
  parsers/pdf_parser.py
  worker.py
Due: none

fix: fix documentdata modal
  enhancers/base_models.py
  parsers/__init__.py
  parsers/base_models.py
  parsers/docx_parser.py
  parsers/excel_parser.py
  parsers/pdf_parser.py
  tests/test_docx_parser.py
  tests/test_excel_parser.py
  tests/test_pdf_parser.py
Due: none

fix:confort ruff
  enhancers/base_models.py
  parsers/__init__.py
  parsers/docx_parser.py
  parsers/pdf_parser.py
  worker.py
Due: none

fix: cancel git action on push
  .github/workflows/validate.yaml
Due: none

feat: add woodpecker
  .pre-commit-config.yaml
  .woodpecker/README.md
  .woodpecker/pre-commit.yml
Due: woodpecker

fix: remove git action
  .github/workflows/validate.yaml
Due: none

Path conditions:
  woodpecker: any of: .woodpecker/**
  docker: any of: .woodpecker/.validate.yaml, Dockerfile, pyproject.toml
