Repository USTC-KnowledgeComputingLab/MMDocParser: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, docker

woodpecker:
  image: woodpeckerci/woodpecker-cli:v${CI_SYSTEM_VERSION}-alpine
  environment:
    WOODPECKER_PLUGINS_PRIVILEGED: woodpeckerci/plugin-docker-buildx:5
  commands:
  - woodpecker-cli lint

docker:
  image: woodpeckerci/plugin-docker-buildx:5
  settings:
    repo: git.kclab.cloud/sci-agent/${CI_REPO_NAME}
    platforms: linux/amd64,linux/arm64
    env_file: envvars
    build_args_from_env:
    - PYPI_MIRROR
    dry-run: true
    output: type=image
  depends_on:
  - create-venv

chore: add github workflows
  .github/workflows/validate.yaml
  .woodpecker/.validate.yaml
Due: woodpecker, docker

feat:新增sci_doc_parsing 测试脚本
  README.md
  compose.yaml
  proto/common/v1/s3.proto
  proto/parse/v1/pdf_parser.proto
  pyproject.toml
  src/__init__.py
  src/message/common/v1/s3_pb2.py
  src/message/common/v1/s3_pb2_grpc.py
  src/message/parse/v1/pdf_parser_pb2.py
  src/message/parse/v1/pdf_parser_pb2_grpc.py
  tests/test_doc_parsing.py
  tests/utils.py
  uv.lock
Due: docker

Update README.md
  README.md
Due: none

refactor: rename project name
  main.py
  pyproject.toml
  uv.lock
Due: docker

fix: add lint and typing check
  .github/workflows/validate.yaml
  main.py
  pyproject.toml
  uv.lock
Due: docker

fix: add secrets baseline
  .secrets.baseline
Due: none

feat: add s3 unit test
  pyproject.toml
  storage/s3_client.py
  test_s3_auth.py
  tests/test_integration.py
  tests/test_s3_client.py
  uv.lock
Due: docker

chore: fix readme
  README.md
  main.py
  tests/test_redis_client.py
  utils/validators.py
Due: none

fix: comfortable typing check
  __init__.py
  config.py
  main.py
  parsers/document_parser.py
  pyproject.toml
  run.py
  storage/redis_client.py
  storage/s3_client.py
  test_s3_auth.py
  utils/validators.py
  uv.lock
Due: docker

feat: add server layer
  .env.template
  README.md
  __init__.py
  config.py
  main.py
  parsers/__init__.py
  parsers/document_parser.py
  pyproject.toml
  run.py
  storage/__init__.py
  storage/redis_client.py
  storage/s3_client.py
  tests/__init__.py
  tests/test_redis_client.py
  utils/__init__.py
  utils/validators.py
  uv.lock
Due: docker

feat: add S3
  storage/s3_client.py
  tests/test_redis_client.py
  tests/test_s3_client.py
Due: none

feat: add s3 unit test
  test_s3_auth.py
Due: none

fix: comfortable typing check
  test_s3_auth.py
Due: none

feat: add information enhancer
  enhancers/__init__.py
  enhancers/information_enhancer.py
  parsers/document_parser.py
  tests/test_integration.py
  worker.py
Due: none

feat: add excel parser test
  enhancers/information_enhancer.py
  parsers/document_parser.py
  parsers/document_parser_factory.py
  parsers/excel_parser.py
  pyproject.toml
  tests/test_excel_parser.py
  uv.lock
  worker.py
Due: docker

fix:confort ruff
  parsers/excel_parser.py
Due: none

feat: add document data models
  parsers/base_models.py
  parsers/document_parser.py
  parsers/document_parser_factory.py
  parsers/excel_parser.py
  storage/s3_client.py
  tests/test_excel_parser.py
Due: none

fix: comfort mypy
  enhancers/information_enhancer.py
  parsers/document_parser.py
  worker.py
Due: none

fix: comfort ruff
  worker.py
Due: none

fix: refine document data model
  parsers/base_models.py
  parsers/excel_parser.py
  tests/test_excel_parser.py
  worker.py
Due: none

fix: add Field
  parsers/base_models.py
Due: none

feat: add word parser
  parsers/base_models.py
  parsers/docx_parser.py
  pyproject.toml
  tests/test_docx_parser.py
  uv.lock
Due: docker

Path conditions:
  woodpecker: any of: .woodpecker/**
  docker: any of: .woodpecker/.validate.yaml, Dockerfile, pyproject.toml
